<h1>Data Visualisation</h1>
<p>A small project by Lewis Barber to show how modern charting libraries can be used to help with the visualisation of data. This project uses the following technologies:</p>
<ul>
    <li><strong>Server:</strong> Phython, Django, Gunicorn, Nginx</li>
    <li><strong>Charting:</strong> jqPlot, D3</li>
    <li><strong>Web UI:</strong> Bootstrap, AngularJS</li>
</ul>
<p>You can find the source code for this project on <a target="_blank" href="https://github.com/lewisbarber1/d3-chart-example">GitHub</a>.</p>