<h1>Twitter Hashtags</h1>
<p>Enter a hashtag to find recent tweets and see where they originate from.</p>
<div class="find-tweets">
    <input type="text" ng-model="hashtag" class="form-control" placeholder="Enter a Twitter hashtag to find tweets:" />
    <button class="btn btn-success get-tweets" ng-click="getTweets()">Find Tweets</button>
    <div class="small-text"><strong>Note:</strong> <span class="grey-text">The default value is #football</span></div>
</div>
<div id="pie-chart"></div>
<div  ng-show="tweets.length == 0"><img src="/static/img/loading.gif" border="0" /> <strong>Loading Tweets...</strong></div>
<table ng-show="tweets.length > 0" class="table table-bordered tweets-table" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <th>Tweet</th>
        <th>Location</th>
    </tr>
    <tr ng-repeat="tweet in tweets">
        <td>{[tweet.text]}</td>
        <td>{[tweet.user.time_zone]}</td>
    </tr>
</table>